body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%; 
    font-size: 25px;
}

header {
    background: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
}

 a{
    text-decoration: none;
    font-family: cursive;
    }
 a:hover{
      background-color: blue;
      color: white;
        }
main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 20px;
    padding: 20px 0;
    height: calc(100vh - 80px); /* Ajuste según la altura de header y footer */
    /* text-align: center; */
}
.seccion{
    width: 80%;
    border: solid 1px black;
    
}
.seccion p {
    margin: 20px 10px;
}
.seccion h2 {
    text-align: center;
    margin: 40px 20px;
}
figure a{
text-decoration: none;
font-family: cursive;
}
figure a:hover{
  background-color: blue;
  color: white;
    }
    .seccion h3 {
        text-align: start;
        margin: 40px 20px;
    }
    table{
        text-align: center;
    }
    table samp{
        text-align: start;
    }
    article{
        margin-top: 20px;
       border: #333 solid 1px;
    }